<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9600766F29C8E64200A673A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96F46E6B29C0F66200C94391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96F46E8129C0F66500C94391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96F46E8B29C0F66500C94391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
